.reviewPage{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: aquamarine;
}
.imgAndHeading{
    display: flex;
    height: auto;
    margin: auto;

}
.imgDiv{
    width: 40rem;
    height: 20rem;
    margin: auto;
    padding: 2rem 2rem 2rem 2rem;
    background-image: url('../../../assert/moon.png');
    background-size: 40rem;
}
.mainHead{
    width: 20%;
    height: auto;
    font-weight: 700;
    padding: 2rem 2rem 2rem 2rem;
    font-size: larger;
}
.des{
    width: 80%;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    margin: auto;
}
.des p{
    text-align: justify;
}