.mainScreen{
    width: 100%;
    height: auto;

}
.container{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 300px;
    justify-content: space-evenly;
    align-items: center;

    
}