.mainSildes{
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-rows:90% 10%;
}
.arrowBtn{
    width: 1rem;
    height: auto;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);

}
.sildeShow{
    width: 80%;
    height: auto;
    display: grid;
    margin: auto;
    grid-template-columns: 10% 80% 10%;
}