.mainBar{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    transition: height 2s ease-in-out;

}
.navBar {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 50% 20% 5%;
    justify-content:center;

}

.navElements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.navElement {
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.navLogo {
    width: 100%;
    height: 100%;
    background-position: 0% 50%;
    background-image: url(../../assert/logo.png);
    background-size: 8rem;
    background-repeat: no-repeat;
}
.searchClass1{
    width: 100%;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 0.2rem solid rgb(65, 65, 65);
    box-shadow: 0rem 0rem 0.5rem 0rem white;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    opacity: 90%;
    cursor: pointer;
}
.searchBar{
    width: 100%;
    height: auto;
    display: flex;
}
.sBox{
    animation: searchOpening 200ms ease-in-out 1  normal ;
    

}
@keyframes searchOpening {
    from{
        position: relative;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(5px);
        transform: translateY(-2rem);
        
    }

    to{
        transform: translateY(0rem);

    }
    
}