.event{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 10%;
    row-gap: 5rem;
    padding: 2rem 2rem 2rem 2rem ;
    margin: auto;
    background-image: url(./../../../assert/sun.png);
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.eventDiv{
    width: 100%;
    height: 35rem;
    display: flex;
}

.descriptionBox{
    width: 40%;
    height: fit-content;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    text-align: center;
    margin: auto;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 3rem;
    color: white;
    position: relative;
    transition-duration: 900ms;
}

.timeLine{
    width: 10rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 7rem;
    background-image: url(../../../assert/line.png);
    background-size: 82%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.TLName{
    width: 10rem;
    height: 2rem;
    background-image: url(../../../assert/whitedot.png);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
    text-align:right;
    opacity: 40%;
    transition-duration:700ms;
    cursor: pointer;
}



