.event{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 10%;
    row-gap: 5rem;
    padding: 2rem 2rem 2rem 2rem ;
    margin: auto;
    background-image: url(./../../../assert/sun.png);
    background-size: 45rem;
    background-repeat: no-repeat;
    transition-duration: 500ms;
    

}
.event:hover{
    background-position: 15% 20%;

}
.eventDiv{
    width: 100%;
    height: 35rem;

}
.descriptionBox{
    width: 40%;
    height: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    margin: auto;
    text-align: center;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 3rem;
    color: white;
    position: relative;
    left: 300px;
    transition-duration: 500ms;
}
.descriptionBox:hover{
    left: 100px;

}
.timeLine{
    width: 100%;
    height: 5rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    

}
.TLName{
    background-image: url(../../../assert/whitedot.png);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
    text-align:start;
    opacity: 40%;
}
.TLName:hover{
    opacity: 100%;

}


