.homeTitle{
    width: 100%;
    height: 800px;
    display:flex;
    margin-top: -50px;
   
}

.mainTitle{
    width: fit-content;
    margin: auto;
    text-align: center;
}
.mainHeading{
    font-size: 6rem;
    color: white;
    font-weight: 500;
  

}
.subHeading{
    font-size: 1.5rem;
    color: white;
    

}
.mainBtn{
    margin: auto;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    

}
.ETB_position{
    width: 600px;
    height: 600px;
    position: absolute;
    right: 50%;
    z-index: -1;
    transition-duration: 500ms;
    
}


