.containContainer{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 2rem 1rem 2rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.projectDetails{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.projectLogo{
    width: 10rem;
    height: auto;
    margin: auto;
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
}
.personDeatails{
    display: flex;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

}
.personInfo{
    display: flex;
    flex-direction: column;
    align-self: center;

}
.contactForm{
    width: 90%;
    margin: auto;
    height: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
input{
    width: 80%;
    margin: auto;
    height: 2.5rem;
    text-align: center;
    border-radius: 5px;
    border-bottom: white solid;
    background-color: #ffffff00;
    color: #ffffff;
}
form{
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 3rem 3rem;
    gap: 2rem;

}
.submitBtn{
    background-color: white;
    color: black;
    border-radius: 25px;
    outline: none;
    border: 2px solid #ffffff;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 
}

.submitBtn:disabled {
  pointer-events: none;
}

.submitBtn:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submitBtn:active {
  box-shadow: none;
  transform: translateY(0);
}


