.sildes {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.sildeElement{
    width: 350px;
    height: 350px;
}
.sildeText {
   
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

@media screen and (max-with:400px) {
    .sildes {
        width: 200px;
        height: 200px;
 
    
    }
    .sildeElement{
        width: inherit;
        height: inherit;
    }
}