.sildes {
    width: 90%;
    height: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    align-items: center;

}
.sildeElement{
    width: 300px;
    height: 300px;
}
.sildeText {
    width: 90%;
    height: 10rem;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}