h3{
    color: white;
    text-align: center;
}
.newsWidgets {
    width: 20rem;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.newsBanner {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.newsContainer {
    aspect-ratio: 3/2;
}

.newsTitle {
    padding: 2rem 2rem 2rem 2rem;
    color: white;
}