h3{
    color: white;
    text-align: center;
}
.newsWidgets {
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    aspect-ratio: 16/9;
    display: flex;
    cursor: pointer;
    
}

.newsBanner {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.newsElement {
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
  
}

.newsTitle {
    padding: 1rem 1rem 1rem 1rem;
    color: rgb(255, 250, 250);
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.666), rgba(0, 0, 0, 0.653));
    backdrop-filter: blur(5px);
}